<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
    <title>Libru</title>
    <link rel="stylesheet" type="text/css" href="./style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>

<body>
    <!--import navbar -->
    <% if (isUserAuthenticated) { %>
    <%- include ./partials/authenticated-navigation.ejs %>
    <%  } else { %>
    <%- include ./partials/navigation.ejs %>
    <%  } %>

    <%- include ./partials/flash-popup-modal.ejs %>



    <div class="container">



        <div class="panel panel-default">
        <div class="panel-heading">Add Resource</div>
        <div class="panel-body">

    <form method="POST" action="add-resource/submit">

  <div class="form-group">
    <label for="resource-title">Resource Title</label>
    <input type="text" class="form-control" name = "resourceTitle" id="resource-title" required>
  </div>

  <div class="row">

  <div class="col-sm-9 pull-left">
  <div class="form-group">

    <label for="resource-url">Resource URL</label>
    <input type="url" class="form-control" name = "resourceUrl" id="resource-url" required>
  </div>

  <div class="form-group">
    <label for="resource-image-url">Resource Image Url</label>
    <input type="url" class="form-control"  name = "resourceImageUrl" id="resource-image-url">
  </div>
  </div>

  <div class="col-sm-3 pull-right">
    <img class = "pull-right image-preview" align = "center" id = "image-preview" src = "https://cdn0.iconfinder.com/data/icons/popular-files-formats/154/tmp-512.png">

  </div>
  </div>

  <div class="form-group">
    <label for="resource-description">Resouce Description</label>
    <textarea rows="5" class="form-control" name = "resourceDescription" id="resource-description" required></textarea>
  </div>

  <div class="form-inline form-group">
    <div class="input-group">
    <span class="input-group-addon">$</span>
    <select class="form-control custom-select mb-2 mr-sm-2 mb-sm-0" name = "resourceCost" id="cost-select" required>
      <option value = "" selected disabled>Cost</option>
      <option value="Free">Free</option>
      <option value="$1 - $10">$1 - $10</option>
      <option value="$10 - $25">$10 - $25</option>
      <option value="$25 - $50">$25 - $50</option>
      <option value="$50 - $100">$50 - $100</option>
      <option value="$100+">$100+</option>
    </select>
</div>

    <div class="checkbox">
      <label><input type="checkbox" name = "resourceGoesOnSale">Goes On Sale</label>
    </div>
    </div>

<div class="form-inline form-group">


  <select class=" form-control custom-select mb-2 mr-sm-2 mb-sm-0" name = "resourceCategory" id="category-select" required>
    <option value = "" selected disabled>Category</option>
    <% for(let i =0; i < categoryList.length; i++) { %>

    <option id = "<%=i%>" value="<%=categoryList[i].category%>"><%=categoryList[i].category%></option>
    <% } %>
  </select>

  <select class=" form-control custom-select mb-2 mr-sm-2 mb-sm-0" name = "resourceSubCategory" id="sub-category-select">
    <option value = ""selected disabled>Sub Category</option>
    <option value="1">?</option>
    <option value="2">?</option>
    <option value="3">?</option>
  </select>
  <br>
  <br>
  <select class="form-control custom-select mb-2 mr-sm-2 mb-sm-0" name = "resourceDifficulty" id="difficulty-select" required>
    <option value = "" selected disabled >Difficulty</option>
    <option value="Beginner">Beginner</option>
    <option value="Intermediate">Intermediate</option>
    <option value="Advanced">Advanced</option>
    <option value="Master">Master</option>
    <option value="Master">Not Applicable</option>
  </select>
</div>


  <input type="submit" class="btn btn-default"></input>
</form>

</div>

</div><!--/.container-->
  <%- include ./partials/footer.ejs %>
    </body>



    <script>
    var categoryList = <%-JSON.stringify(categoryList) %>

    $("#category-select").change(function () {
        var id = $(this).children(":selected").attr("id");

        if(categoryList[id].subcategories.length > 1){

          $("#sub-category-select").show();
          $("#sub-category-select").empty();
          $("#sub-category-select").append( $("<option>")
            .val("Sub Category")
            .html("Sub Category")
            .prop('disabled', true)
            .prop('selected', true)
          );
          for(let i =0; i < categoryList[id].subcategories.length; i++){
        $("#sub-category-select").append( $("<option>")
          .val(categoryList[id].subcategories[i])
          .html(categoryList[id].subcategories[i])
        );
      }}else {
        $("#sub-category-select").hide();
        $("#sub-category-select").append( $("<option>")
          .val("Sub Category")
          .html("Sub Category")

        );
        $("#sub-category-select").append( $("<option>")
          .val(categoryList[id].subcategories[0])
          .html(categoryList[id].subcategories[0])
          .prop('selected', true)
        );
      }


    });
    $("#resource-image-url").on('blur', function() {
      var imgURL = $("#resource-image-url").val();
      if(imgURL.length > 5)
    $("#image-preview").attr('src', imgURL);
});

    </script>
    </html>
