<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <title>Libru</title>
    <link rel="stylesheet" type="text/css" href="./style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link href="../bower_components/bootstrap-star-rating/css/star-rating.min.css" media="all" rel="stylesheet" type="text/css" />
    <script src="../bower_components/bootstrap-star-rating/js/star-rating.min.js" type="text/javascript"></script>

    <link href="../bower_components/bootstrap-table/dist/bootstrap-table.min.css" media="all" rel="stylesheet" type="text/css" />
    <script src="../bower_components/bootstrap-table/dist/bootstrap-table.min.js" type="text/javascript"></script>


</head>

<body>
    <!--import navbar -->
    <% if (isUserAuthenticated) { %>
    <%- include ./partials/authenticated-navigation.ejs %>
    <%  } else { %>
    <%- include ./partials/navigation.ejs %>
    <%  } %>

    <div class="container">
      <div class="panel panel-default">
      <div class="panel-heading">Manage Your Resources</div>

    </div>

      <div class = "row">
        <div class = "col-md-2 sidebar-offcanvas" style="padding-top: 54px">


        <div class="panel-group">
          <div class="panel panel-default">
            <form method="POST" action="/user/profile">
            <input type = "hidden" value = "All" name = "category">

          <li class="list-group-item"><button type="button" onclick="form.submit();"class="btn-link">All</button></li>
        </form>

        <% for(let catIndex = 0; catIndex < categoryList.length; catIndex++) { %>

          <% var collapseID = "collapse" + catIndex %>
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#<%=collapseID%>"><%=categoryList[catIndex].category%></a>
            </h4>
          </div>

          <div id="<%=collapseID%>" class="panel-collapse collapse">
            <ul class="list-group">
              <% for(let subCatIndex = 0; subCatIndex < categoryList[catIndex].subcategories.length; subCatIndex++) { %>
                <form method="POST" action="/user/profile">
                <input type = "hidden" value = "<%=categoryList[catIndex].category%>" name = "category">
                <input type = "hidden" value = "<%=categoryList[catIndex].subcategories[subCatIndex]%>" name = "subcategory">
                <li class="list-group-item"><button type="button" onclick="form.submit();"class="btn-link"><%=categoryList[catIndex].subcategories[subCatIndex]%></button></li>
                </form>
              <% } %>
            </ul>
          </div>


      <% } %>
        </div>
      </div>

        </div>
<div class = "col-md-10">

      <table data-toggle="table"
      data-page-list="[10, 25, 50, 100, ALL]"
        data-search="true"
          data-pagination="true"
             data-classes="table" class = "table">
        <thead>
          <tr>
            <th>Cover</th>
            <th data-sortable="true" 	data-searchable = "true">Title</th>
            <th data-sortable="true">Category</th>
            <th data-sortable="true">Sub Category</th>
            <th data-sortable="true">Difficulty</th>
            <th data-sortable="true">Date Added</th>
            <th data-sortable="false">Edit</th>



          </tr>
        </thead>

        <tbody>
          <% for(let i =0; i < resources.length; i++) { %>

          <tr>

            <td class = "col-md-1"><img class="img-responsive" src = "<%=resources[i].resourceImageURL %>"></td>
            <td class = "col-md-1"><a href ="../resource/<%=resources[i]['_id'] %>"><%=resources[i].title %></a></td>
            <td class = "col-md-1"><%=resources[i].resourceCategory %></td>
            <td class = "col-md-1"><%=resources[i].resourceSubCategory %></td>
            <td class = "col-md-1"><%=resources[i].resourceDifficulty %></td>
            <td class = "col-md-1"><%=resources[i].dateAdded %></td>
            <td class = "col-md-1"><a href="../edit-resource/<%=resources[i]['_id']%>">Edit</a></td>


          </tr>
          <%  } %>
        </tbody>

      </table>

      </div>
    </div>

    </div>
    <%- include ./partials/footer.ejs %>
  </body>
