<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
    <title>Libru</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


</head>

<body>
    <!--import navbar -->
    <% if (isUserAuthenticated) { %>
        <%- include ./partials/authenticated-navigation.ejs %>
        <%  } else { %>
        <%- include ./partials/navigation.ejs %>
        <%  } %>
                      <div class="container">
    <div class="row">


        <div class="col-md-10">

          <div class="panel panel-default">
          <div class="panel-heading">Account Settings</div>
          <div class="panel-body">

            <div>
                <form method = "POST" action = "/user/settings/">
                    <div class="form-group">
                        <label for="firstName">First Name:</label>
                        <input type="text" class="form-control" id="firstName" name = "firstName" value = "<%=userData.firstName %>">

                    </div>
                    <div class="form-group">
                      <label for="lastName">Last Name:</label>
                      <input type="text" class="form-control" id="lastName" name = "lastName" value = "<%=userData.lastName %>">
                    </div>
                    <div class="form-group">
                      <label for="displayName">Display Name:</label>
                      <input type="text" class="form-control" id="displayName" name = "displayName" value = "<%=userData.displayName%>">
                    </div>
                    <div>
                      <% var userCohort = (userData.cohort == "None Specified") ? "Cohort" : userData.cohort %>
                      <div class="form-inline form-group">
                      <label for="cohortDropdown">Select Your Cohort:</label>
                      <select class="form-control custom-select mb-2 mr-sm-2 mb-sm-0" name = "cohortName" id="sub-category-select">
                        <option selected disabled><%=userCohort%></option>
                        <option value="Alpaca">Alpaca</option>
                        <option value="Artic Fox">Artic Fox</option>
                        <option value="Beluga">Beluga</option>
                        <option value="Cheetah">Cheetah</option>
                        <option value="Flamingo">Flamingo</option>
                        <option value="Giraffe">Giraffe</option>
                        <option value="Iguana">Iguana</option>
                        <option value="Kangaroo">Kangaroo</option>
                        <option value="Koala">Koala</option>
                        <option value="Lion">Lion</option>
                        <option value="Meerkat">Meerkat</option>
                        <option value="Moose">Moose</option>
                        <option value="Penguin">Penguin</option>
                        <option value="Racoon">Racoon</option>
                        <option value="Red Panda">Red Panda</option>
                        <option value="Rhino">Rhino</option>
                        <option value="Turtle">Turtle</option>
                        <option value="Wombat">Wombat</option>
                      </select>
                    </div>
                  </div>

                    <button type="submit" class="btn btn-default">Submit</button>
                </form>

            </div>

          </div>
        </div>


        <div class="panel panel-default">
          <div class="panel-heading">Link Social Media Accounts</div>
        <div class="panel-body">
          There's nothing to see here! I hope to add this feature "soon"
            </div>
        </div>
          </div>

        <div class="col-md-2">
          <div class="panel panel-default">

          <div class="panel-body">
            Placeholder Sidebar
        </div>

      </div>

    </div>

    </div>
</div>

<%- include ./partials/footer.ejs %>
</body>

</html>
