<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
    <title>Libru</title>
    <link rel="stylesheet" type="text/css" href="./style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link href="../bower_components/bootstrap-star-rating/css/star-rating.min.css" media="all" rel="stylesheet" type="text/css" />
    <script src="../bower_components/bootstrap-star-rating/js/star-rating.min.js" type="text/javascript"></script>

    <link href="../bower_components/bootstrap-table/dist/bootstrap-table.min.css" media="all" rel="stylesheet" type="text/css" />
    <script src="../bower_components/bootstrap-table/dist/bootstrap-table.min.js" type="text/javascript"></script>


</head>

<body>
    <!--import navbar -->
    <% if (isUserAuthenticated) { %>
    <%- include ./partials/authenticated-navigation.ejs %>
    <%  } else { %>
    <%- include ./partials/navigation.ejs %>
    <%  } %>

    <% var allResources = completedResources.concat(toDoResources,inProgressResources) %>

    <div class="container">
      <div class="panel panel-default">
      <div class="panel-heading">My Resources</div>

    </div>
      <div class = "row">

        <div class = "col-md-2 sidebar-offcanvas" style="padding-top: 54px">


        <div class="panel-group">
          <div class="panel panel-default">
            <form method="POST" action="/user/resources">
            <input type = "hidden" value = "All" name = "category">

          <li class="list-group-item"><button type="button" onclick="form.submit();"class="btn-link">All</button></li>
        </form>

        <% for(let catIndex = 0; catIndex < categoryList.length; catIndex++) { %>

          <% var collapseID = "collapse" + catIndex %>
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#<%=collapseID%>"><%=categoryList[catIndex].category%></a>
            </h4>
          </div>

          <div id="<%=collapseID%>" class="panel-collapse collapse">
            <ul class="list-group">
              <% for(let subCatIndex = 0; subCatIndex < categoryList[catIndex].subcategories.length; subCatIndex++) { %>
                <form method="POST" action="/user/resources">
                <input type = "hidden" value = "<%=categoryList[catIndex].category%>" name = "category">
                <input type = "hidden" value = "<%=categoryList[catIndex].subcategories[subCatIndex]%>" name = "subcategory">
                <li class="list-group-item"><button type="button" onclick="form.submit();"class="btn-link"><%=categoryList[catIndex].subcategories[subCatIndex]%></button></li>
                </form>
              <% } %>
            </ul>
          </div>


      <% } %>
        </div>
      </div>

        </div>

<div class = "col-md-10">
      <table id = "table" data-toggle="table"
      data-page-list="[10, 25, 50, 100, ALL]"
        data-search="true"
          data-pagination="true"
             data-classes="table">
        <thead>
          <tr>
            <th>Cover</th>
            <th data-sortable="true" data-searchable = "true">Title</th>
            <th data-sortable="true">Category</th>
            <th data-sortable="true">Sub Category</th>
            <th data-sortable="true">Difficulty</th>
            <th data-sortable="true">Date Added</th>
            <th data-sortable="true">Avg. Rating</th>
            <th >Your Rating</th>
            <th data-sortable="true">Status</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i =0; i < allResources.length; i++) { %>
            <% var sum = 0; %>
            <% for(let j =0; j < allResources[i].resourceRatings.length; j++) { %>
            <%  sum += allResources[i].resourceRatings[j].rating; %>
            <% } %>
            <% var avg = sum / allResources[i].resourceRatings.length; %>
            <% avg = Number.isInteger(avg) ? avg : avg.toPrecision(3)%>
            <% avg = isNaN(avg) ? "No Ratings" : avg %>
          <tr>
            <td class = "col-md-1"><img class="img-responsive" src = "<%=allResources[i].resourceImageURL %>"></td>
            <td class = "col-md-1"><span hidden><%-allResources[i].title %></span><a href ="../resource/<%=allResources[i]['_id'] %>"><%=allResources[i].title %></a></td>
            <td class = "col-md-1"><%=allResources[i].resourceCategory %></td>
            <td class = "col-md-1"><%=allResources[i].resourceSubCategory %></td>
            <td class = "col-md-1"><%=allResources[i].resourceDifficulty %></td>
            <td class = "col-md-1"><%=moment(allResources[i].dateAdded).format('l')%></td>
            <td class = "col-md-1"><%=avg %></td>
            <td class = "col-md-1 "id = "<%=i%>">
              <form method="POST" action="../user/resources/rate">
              <div class="form-group">

                  <input type = "hidden"  value = "<%=allResources[i].rating%>">
                <input type = "hidden" name = "resourceID" value = "<%=allResources[i]['_id']%>">
                <input onchange="this.form.submit()"  name="resourceRating" type="number" id = "star<%=i%>" class="rating-loading" value = "<%=allResources[i].rating%>" min=0 max=5 step=1 data-size="xs" data-rtl="false" data-show-clear="false" data-show-caption="false">
              </div>
              </form>
            </td >
            <td class = "col-md-1">
              <form method="POST" action="../user/resources/status">
              <div class="form-group">
                <input type = "hidden"  value = "<%=allResources[i].status%>">
                <input type = "hidden" name = "resourceID" value = "<%=allResources[i]['_id']%>">
                <select onchange="this.form.submit()" class="form-control mb-2 mr-sm-2 mb-sm-0" name = "resourceStatus" id="status-select">
                  <option value = "<%=allResources[i].status%>"selected><%=allResources[i].status%></option>

                  <option value="<%=allResources[i].secondStatus%>"><%=allResources[i].secondStatus%></option>
                  <option value="<%=allResources[i].thirdStatus%>"><%=allResources[i].thirdStatus%></option>
                </select>
              </div>
            </form>
          </td>

          </tr>
          <%  } %>
        </tbody>
        </table>
      </div>
    </div>


    </div>
    <%- include ./partials/footer.ejs %>
  </body>

  <script>
  $(document).ready(function() {
    refreshStars([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]);
  });

  $("#table").on("all.bs.table", function(e, arg1, arg2) {
    var data = $("#table").bootstrapTable("getData");
    var rows = [];
    for (let i = 0; i < data.length; i++) {
      rows.push(data[i]["_7_id"]);
    }


    refreshStars(rows);
  });

  function refreshStars(rows) {
    for (let i = 0; i < rows.length; i++) {
      $("#star" + rows[i]).rating({
        disabled: false,
        showClear: false,
        showCaption: true
      });
    }
  }
  </script>
