<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
    <title>Libru</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../style.css">

    <link href="../bower_components/bootstrap-star-rating/css/star-rating.min.css" media="all" rel="stylesheet" type="text/css" />
    <script src="../bower_components/bootstrap-star-rating/js/star-rating.min.js" type="text/javascript"></script>


</head>

<body>
  <div id="wrap">
    <!--import navbar -->
    <% if (isUserAuthenticated) { %>
    <%- include ./partials/authenticated-navigation.ejs %>
    <%  } else { %>
    <%- include ./partials/navigation.ejs %>
    <%  } %>

    <%- include ./partials/flash-popup-modal.ejs %>
    <div class="container">
      <div class = "row">
        <div id="main" class="container clear-top">





        <div class = "col-md-3">
            <div class="panel panel-default">
            <div class = "panel-body" align = "center">
        <img class="img-responsive" src = "<%-resource.resourceImageURL%>"></img>

        <hr>
        <% if(isUserAuthenticated) { %>
          <% var status = ["Want To Do", "In Progress", "Completed"] %>
          <% var value = ["toDo", "inProgress", "Completed"] %>

        <form method="POST" action="/resource/change">
        <div class="form-inline form-group">

          <input type = "hidden" name = "resourceID" value = "<%=resource['_id']%>">
          <select onchange="this.form.submit()" class="form-control custom-select mb-2 mr-sm-2 mb-sm-0" name = "resourceStatus" id="status-select">
            <% if(resourseStatusForUser == "...") { %>
              <option selected = "selected" value="">...</option>
            <% } %>
            <% for(let i =0; i < status.length; i++) { %>
            <% if(status[i] == resourseStatusForUser) { %>
              <option selected = "selected" value="<%=value[i]%>"><%=resourseStatusForUser%></option>
            <%} else { %>
            <option value="<%=value[i]%>"><%=status[i]%></option>
            <% } %>
            <% } %>
          </select>
        </div>
      </form>
      <form method="POST" action="/resource/rate">
      <div class="form-group">
        <label for="resource-description">Rate It!</label>
        <input type = "hidden" name = "resourceID" value = "<%=resource['_id']%>">
        <input onchange="this.form.submit()" id="input-id" name="resourceRating" type="number" class="rating" value = "<%=resourceRatingForUser%>" min=0 max=5 step=1 data-size="xs" data-rtl="false" data-show-clear="false" data-show-caption="false">
      </div>

      </form>
      <% } %>

      <% if(true) { %>
        <button class="btn btn-primary" onclick="location.href='../edit-resource/<%=resource['_id']%>';">Edit</button>
        <% } %>
    </div>
    </div>
  </div>

        <div class = "col-md-7">
        <div class = "Category">

        </div>
        <div class="panel panel-default">
        <div class="panel-heading"><%=resource.title%></div>
        <div class = "panel-body">



        <% var sum = 0; %>
        <% for(let i =0; i <resource.resourceRatings.length; i++) { %>
        <%  sum += resource.resourceRatings[i].rating; %>
        <% } %>
        <% var avg = sum / resource.resourceRatings.length; %>
        <% avg = Number.isInteger(avg) ? avg : avg.toPrecision(3)%>
        <% avg = isNaN(avg) ? " No Ratings " : avg %>
        <span class = "ratingSpan"><h5>Avg. Rating: <%=avg %> | Total ratings: <%=resource.resourceRatings.length %></h5>
          <p><%=resource.resourceDescription%></>
          <p>Check it out <a href = "<%=resource.resourceURL%>">here</a></p>

        <hr>
        <dl class="dl-horizontal">
        <dt>Difficulty:</dt>
        <dd><%=resource.resourceDifficulty%></dd>
        <dt>Category:</dt>
        <% if(resource.resourceSubCategory == resource.resourceCategory){ %>
        <dd><%=resource.resourceCategory%></dd>
        <% } else { %>
        <dd><%=resource.resourceCategory%> - <%=resource.resourceSubCategory%></dd>
        <% } %>

        <dt>Cost:</dt>
        <dd><%=resource.resourceCost%></dd>
        <%if(resource.resourceCost != "Free") { %>
        <dt>Goes On Sale:</dt>
        <dd><%=resource.resourceGoesOnSale%></dd>
        <% } %>

        <dt>Added On:</dt>
        <dd><%=moment(resource.dateAdded).format('l')%></dd>

        </dl>

        <hr>

        <% if(isUserAuthenticated) {%>


          <hr>
        <form method = "POST" action = '/resource/'>
        <div class="form-group">
          <label for="comment">Leave a comment</label>
          <div class="input-group">
            <input type = "hidden" name = "resourceID" value = "<%=resource['_id']%>">
           <input type="text" class="form-control" name = "comment" id="comment">
           <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Submit!</button>
           </span>
</div>
        </div>
      </form>

      <% } %>
        <h3>Recent Comments</h3>
        <% var recentComments = resource.resourceComments %>
        <% recentComments.sort(function(a, b){return b.dateWritten-a.dateWritten}); %>


        <% for(let i = 0; i < recentComments.length; i++){ %>
          <div class = "commentSpan">
          <% var cohort = (recentComments[i].commenterCohort != undefined) ? (recentComments[i].commenterCohort).toLowerCase() : "none"%>
          <div class = "commentItem">
          <% if(cohort == "none" || cohort == "Chingu Camper") { %>
          <% var imgSrc = '../images/ChinguCohortDefault.jpg' %>
          <% } else { %>
          <% var imgSrc = 'https://raw.githubusercontent.com/Kornil/Chingu-Animal-Icons/master/animals/'+ cohort + '/apple-touch-icon-60x60.png' %>
          <% } %>
          <img src = "<%=imgSrc%>">
          </div>
<div class = "commentItem">
          <p><b><%=recentComments[i].commentBy%></b></p>

          <p><%=recentComments[i].comment%></p>
        </div>

      </div>
        <% } %>

          </div>
      </div>

      <% if(isUserAuthenticated) {%>
        <div class="panel panel-default">
        <div class="panel-heading">Tattle-Tail Territory</div>
        <div class = "panel-body">
        <div>
          <form method = "POST" action = "/resource/link">
            <input type = "hidden" name = "resourceID" value = "<%=resource['_id']%>">
        <button type="submit" class="btn btn-danger">Report Broken Link</button>
      </form>
      <form method = "POST" action = "/resource/inappropriate">
        <input type = "hidden" name = "resourceID" value = "<%=resource['_id']%>">
    <button type="submit" class="btn btn-danger">Report Inappropriate</button>
  </form>
      </div>

    </div>
  </div>

  <% } %>
  </div>

      <div class = "col-md-2">
        <div class="panel panel-default">
        <div class="panel-heading">Placeholder Sidebar</div>
        <div class = "panel-body">


        </div>

      </div>
      </div>


    </div>
  </div>
<%- include ./partials/footer.ejs %>

  </body>
  </html>
