<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
    <title>Libru</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="./style.css">

</head>

<body>
  <div id = "wrap">
    <!--import navbar -->
    <% if (isUserAuthenticated) { %>
    <%- include ./partials/authenticated-navigation.ejs %>
    <%  } else { %>
    <%- include ./partials/navigation.ejs %>
    <%  } %>

    <%- include ./partials/flash-popup-modal.ejs %>

    <div id="main" class="container clear-top">


      <div class="panel panel-default">
      <div class="panel-heading">Edit Resource</div>
      <div class="panel-body">

        <p>Please only make edits if <b>absolutely</b> necessary. The only edits that should be made are to correct a typo, broken link, or a small revision. Please do not change the resource to something entirely different. Other users that have added, rated or commented on this resource did so with the belief that it would remain fundamentally unchanged. Thanks!</p>
        <hr>


    <form method="POST" action="./edit">
    <input type = "hidden" name = "id" value = "<%=resource['_id']%>">

  <div class="form-group">
    <label for="resource-title">Resource Title</label>
    <input type="text" class="form-control" name = "resourceTitle" id="resource-title" value = "<%=resource.title%>" required>
  </div>

  <div class="row">

  <div class="col-sm-9 pull-left">

  <% if(resource.resourceFlaggedBrokenLink.length > 0 ) { %>
    <div class="form-group has-error">

      <label class="control-label" for="resource-url">Resource URL</label>
      <input type="url" class="form-control" name = "resourceURL" id="resource-url" value = "<%=resource.resourceURL%>" required>
      <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
  <span class="sr-only">(error)</span>
    </div>

  <% } else { %>
  <div class="form-group">

    <label for="resource-url">Resource URL</label>
    <input type="url" class="form-control " name = "resourceURL" id="resource-url" value = "<%=resource.resourceURL%>" required>
  </div>

  <% } %>

  <div class="form-group">
    <label for="resource-image-url">Resource Image Url</label>
    <input type="url" class="form-control"  name = "resourceImageURL" value = "<%=resource.resourceImageURL%>" id="resource-image-url">
  </div>
  </div>

  <div class="col-sm-3 pull-right">
    <img class = "pull-right image-preview" align = "center" id = "image-preview" src = "<%=resource.resourceImageURL%>">

  </div>
  </div>

  <div class="form-group">
    <label for="resource-description">Resouce Description</label>
    <textarea class="form-control" rows="5" name = "resourceDescription" value = "<%=resource.resourceDescription%>" id="resource-description"><%=resource.resourceDescription%></textarea>
  </div>


  <div class = "form-inline form-group">
  <select class="form-control custom-select mb-2 mr-sm-2 mb-sm-0" name = "resourceCategory" id="category-select" required>

    <% for(let i =0; i < categoryList.length; i++) { %>
      <% if(categoryList[i].category == resource.resourceCategory) { %>
        <option id = "<%=i%>" selected = "selected" value="<%=categoryList[i].category%>"><%=categoryList[i].category%></option>
      <%} else { %>

    <option id = "<%=i%>" value="<%=categoryList[i].category%>"><%=categoryList[i].category%></option>
    <% } %>
    <% } %>
  </select>

  <% var categoryIndex; %>
  <% for (let i = 0; i < categoryList.length; i++) { %>
  <%    if(categoryList[i].category == resource.resourceCategory) { %>
  <%      categoryIndex = i; %>
  <%    } %>
  <% } %>


  <select class="form-control custom-select mb-2 mr-sm-2 mb-sm-0" name = "resourceSubCategory" id="sub-category-select">
    <% for(let i =0; i < categoryList[categoryIndex].subcategories.length; i++) { %>
      <% if(categoryList[categoryIndex].subcategories[i] == resource.resourceSubCategory) { %>
        <option selected id = "<%=i%>" value="<%=categoryList[categoryIndex].subcategories[i]%>"><%=categoryList[categoryIndex].subcategories[i]%></option>
      <%} else { %>

        <option id = "<%=i%>" value="<%=categoryList[categoryIndex].subcategories[i]%>"><%=categoryList[categoryIndex].subcategories[i]%></option>
    <% } %>
    <% } %>


  </select>

</div>

  <% var selectedCost = resource.resourceCost %>
  <% var costOptions = ["Free", "$1 - $10", "$10 - $25", "$25 - $50", "$50 - $100", "$100+"] %>

  <% var checked = resource.resourceGoesOnSale ? checked : false %>





    <% var selectedDifficulty = (resource.resourceDifficulty) ? "Difficulty" : resource.resourceDifficulty %>
    <% var difficultyOptions = ["Beginner", "Intermediate", "Advanced", "Master", "Not Applicable"] %>

<div class="form-inline form-group">
  <select class="form-control custom-select mb-2 mr-sm-2 mb-sm-0" name = "resourceDifficulty" id="difficulty-select" required>

    <% for(let i =0; i < difficultyOptions.length; i++) { %>
    <% if(difficultyOptions[i] == resource.resourceDifficulty) { %>
      <option selected = "selected" value="<%=difficultyOptions[i]%>"><%=difficultyOptions[i]%></option>
    <%} else { %>
    <option value="<%=difficultyOptions[i]%>"><%=difficultyOptions[i]%></option>
    <% } %>
    <% } %>

  </select>
  </div>

  <div class="form-inline form-group">
    <div class="input-group">
    <span class="input-group-addon">$</span>
    <select class="form-control" name = "resourceCost" id="cost-select" required>
      <option value = "<%=selectedCost%>" selected><%=selectedCost%></option>
      <% for(let i =0; i < costOptions.length; i++) { %>
      <option value="<%=costOptions[i]%>"><%=costOptions[i]%></option>
      <% } %>
    </select>
</div>
    <div class="checkbox">
      <% if(resource.resourceGoesOnSale) { %>
      <label><input type="checkbox" checked name = "resourceGoesOnSale">Goes On Sale</label>
      <% } else  { %>
        <label><input type="checkbox"  name = "resourceGoesOnSale">Goes On Sale</label>
        <% } %>
    </div>
    </div>




  <div class = "form-group">
  <input type="submit" class="btn btn-default"></input>
</div>
</form>

</div>
</div>



  <div class="panel panel-danger">
  <div class="panel-heading">Danger Zone</div>
  <div class="panel-body">
  <h3>Delete This Resource</h3>
  <p class = "pull-left">Once you delete a resource, there is no going back. Please be certain. You'll be returned to the resource management page on successful deletion.</p>
  <form method = "POST" action = "./delete">
    <input type = "hidden" name = "id" value = "<%=resource['_id']%>">
  <span class="input-group-btn">
       <button class="btn btn-default pull-right" type="submit">Delete</button>
  </span>
</form>
</div>
</div>
</div>
<%- include ./partials/footer.ejs %>
    </body>

    <script>
    $(document).ready(function() {
      var categoryList = <%-JSON.stringify(categoryList) %>
      var category = $("#category-select").find('option:selected').attr('id');

      if(categoryList[category].subcategories.length <=1){

      $("#sub-category-select").hide();
      }

    });
    var categoryList = <%-JSON.stringify(categoryList) %>

    $("#category-select").change(function () {
        var id = $(this).children(":selected").attr("id");

        if(categoryList[id].subcategories.length > 1){
          $("#sub-category-select").show();
          $("#sub-category-select").empty();
          $("#sub-category-select").append( $("<option>")
            .val("Sub Category")
            .html("Sub Category")
            .prop('disabled', true)
            .prop('selected', true)
          );
          for(let i =0; i < categoryList[id].subcategories.length; i++){
        $("#sub-category-select").append( $("<option>")
          .val(categoryList[id].subcategories[i])
          .html(categoryList[id].subcategories[i])
        );
      }
    } else {
      $("#sub-category-select").hide();
      $("#sub-category-select").append( $("<option>")
        .val("Sub Category")
        .html("Sub Category")

      );
      $("#sub-category-select").append( $("<option>")
        .val(categoryList[id].subcategories[0])
        .html(categoryList[id].subcategories[0])
        .prop('selected', true)
      );
    }



    });
    $("#resource-image-url").on('blur', function() {
      var imgURL = $("#resource-image-url").val();
      if(imgURL.length > 5)
    $("#image-preview").attr('src', imgURL);
});

    </script>
    </html>
