<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
    <title>Libru</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


</head>

<body>
  <div id = "wrap">
    <!--import navbar -->
    <% if (isUserAuthenticated) { %>
        <%- include ./partials/authenticated-navigation.ejs %>
        <%  } else { %>
        <%- include ./partials/navigation.ejs %>
        <%  } %>
          <div id="main" class="container clear-top">
    <div class="row">


        <div class="col-md-10">

          <div class="panel panel-default">
          <div class="panel-heading">Account Settings</div>
          <div class="panel-body">

            <div>
                <form method = "POST" action = "/user/settings/">
                    <div class="form-group">
                        <label for="firstName">First Name:</label>
                        <input type="text" class="form-control" id="firstName" name = "firstName" value = "<%=userData.firstName %>">

                    </div>
                    <div class="form-group">
                      <label for="lastName">Last Name:</label>
                      <input type="text" class="form-control" id="lastName" name = "lastName" value = "<%=userData.lastName %>">
                    </div>
                    <div class="form-group">
                      <label for="displayName">Display Name:</label>
                      <input type="text" class="form-control" id="displayName" name = "displayName" value = "<%=userData.displayName%>">
                    </div>
                    <div>
                      <% var userCohort = (userData.cohort == "None Specified") ? "Cohort" : userData.cohort %>
                      <div class="form-inline form-group">
                      <label for="cohortDropdown">Select Your Cohort:</label>
                      <select class="form-control custom-select mb-2 mr-sm-2 mb-sm-0" name = "cohortName" id="sub-category-select">

                        <% for(let i =0; i < cohortList.cohort.length; i++) { %>
                        <% if(cohortList.cohort[i] == userCohort) { %>
                        <option selected value="<%=cohortList.cohort[i]%>"><%=cohortList.cohort[i]%></option>
                        <% } else { %>
                        <option value="<%=cohortList.cohort[i]%>"><%=cohortList.cohort[i]%></option>
                        <% } %>
                        <% } %>

                      </select>
                    </div>
                  </div>

                    <button type="submit" class="btn btn-default">Submit</button>
                </form>

            </div>

          </div>
        </div>


        <div class="panel panel-default">
          <div class="panel-heading">Link Social Media Accounts</div>
        <div class="panel-body">
          There's nothing to see here! I hope to add this feature "soon"
            </div>
        </div>
          </div>

        <div class="col-md-2">
          <div class="panel panel-default">

          <div class="panel-body">
            Placeholder Sidebar
        </div>

      </div>

    </div>

    </div>
</div>
</div>

<%- include ./partials/footer.ejs %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-99625079-1', 'auto');
  ga('send', 'pageview');

</script>

</body>

</html>
